.bg {
    background-color:#f1e6f4; 
    flex: 1;
}
.bg2{
    background-color: #f5ffff;
}
.bg3{
    background-color: #fffff6;
}
.bg4{
    background-color: #c7e2ff;
}


.titulo {
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    width: 100%;
    background-color:#e3cee9;
}
.titulo:hover{
 animation-name: animacao;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.fotos{
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    width: 100%;
    background-color: #adcaf7;
}
.fotos:hover{
    animation-name: animacao4;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.sobre{
        padding: 40px;
        border-radius: 30px;
        text-align: center;
        color: #ffffff;
        font-size: 50px;
        width: 100%;
        background-color: #d6e7e1;
        
}
.sobre:hover{
    animation-name: animacao2;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.cadastro{
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    width: 100%;
    background-color: #fbf7e4;
    
}
.cadastro:hover{
    animation-name: animacao3;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes animacao{
    0% {background-color: #e3cee9;}
    25% {background-color:  #ccafd4;}
    50% {background-color: #d5b5df;}
    75% {background-color: #c79cd4;}
    100% {background-color: #b88bc5;}
}
@keyframes animacao4{
    0% {background-color: #adcaf7;}
    25% {background-color:  #92b2ef;}
    50% {background-color: #7899e6;}
    75% {background-color: #5d81de;}
    100% {background-color: #4973df;}
}
@keyframes animacao2{
    0% {background-color: #d6e7e1;}
    25% {background-color:  #b7d0c3;}
    50% {background-color: #98b8a5;}
    75% {background-color: #94b9a2;}
    100% {background-color: #79a087;}
}
@keyframes animacao3{
    0% {background-color: #fbf7e4;}
    25% {background-color:  #f7efd3;}
    50% {background-color: #f3e8c1;}
    75% {background-color: #ece3bc;}
    100% {background-color: #eee0af;}
}
.texto{
    background-color: white;
    width: 60%;
    display: flex;
    justify-content: left;
    border-radius: 8px;
    padding: 20px; 
    margin-left: 20px; 
    text-align: left;
    
}
.navbar {
    display: flex; 
    align-items: flex-start; 
    margin: 20px; 
}

.a{
    display: flex;
    justify-content: right; 
    align-items: center; 
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #fbf1ff;
    position: auto;
    height: 100%;
    overflow: auto;
    border-radius: 8px;

}

li a {
    display: block;
    color: #333;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s; 
}

li a.active {
    background-color: #d5b5df;
    color: white;
}

li a:hover:not(.active) {
    background-color: #dfc2e7;
    color: white;
}

footer {
    background-color: #6e5ccf;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}

/* Responsivo */
@media screen and (max-width: 375px) {
    .bg {
        background-color: rgb(150, 235, 150);
    }
    
    .titulo {
        font-size: 24px;
        background-color: rgba(100, 200, 100, 0.8);
    }
    
    ul {
        width: 95%;
        height: 5%;
        border-radius: 20px;
    }
    
    li {
        float: left;
    }
    
    li a {
        text-align: center;
        padding: 14px 16px;
    }
    
    li a.active {
        background-color: rgb(100, 200, 100);
    }
    
    li a:hover:not(.active) {
        background-color: rgb(160, 235, 160);
    }
}