.bg {
    background-color:#f1e6f4; 
    flex: 1;
}

.titulo {
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    width: 100%;
    animation-name: animacao;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    background-color:#e3cee9;
}
@keyframes animacao{
    0% {background-color: #e3cee9;}
    25% {background-color:  #ccafd4;}
    50% {background-color: #d5b5df;}
    75% {background-color: #c79cd4;}
    100% {background-color: #b88bc5;}
}
.a{
    display: flex;
    justify-content: right; 
    align-items: center; 
   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #fbf1ff;
    position: auto;
    height: 100%;
    overflow: auto;
    border-radius: 8px;

}

li a {
    display: block;
    color: #333;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s; 
}

li a.active {
    background-color: #d5b5df;
    color: white;
}

li a:hover:not(.active) {
    background-color: #dfc2e7;
    color: white;
}

footer {
    background-color: #6e5ccf;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    border-radius: 15px;
}

/* Responsivo */
@media screen and (max-width: 375px) {
    .bg {
        background-color: rgb(150, 235, 150);
    }
    
    .titulo {
        font-size: 24px;
        background-color: rgba(100, 200, 100, 0.8);
    }
    
    ul {
        width: 95%;
        height: 5%;
        border-radius: 20px;
    }
    
    li {
        float: left;
    }
    
    li a {
        text-align: center;
        padding: 14px 16px;
    }
    
    li a.active {
        background-color: rgb(100, 200, 100);
    }
    
    li a:hover:not(.active) {
        background-color: rgb(160, 235, 160);
    }
}